.tableStyle {
    margin-top: 1em;
    width: 100%;
    text-align: center;
    background-color: #ffff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.tableStyle2 {
    margin-top: 1em;
    width: 100%;
    text-align: center;
    background-color: #ffff;
}

.tableHeaderStyle {
    background: white;
    color: black;
    font-weight: bold;
    padding: 10px;
}

.tableBodyRow {
    border: 1px solid #e1e1e1;
}

.tableBodyColumn {
    padding: 10px;
    background: white;
}